## Dataset basics

- size: 918, 12
- atrributes: 

| Index | Attribute | Description | Type |
| --- | --- | --- | --- |
| 1 | Age | Age of the patient in years | Numeric (int) |
| 2 | Sex | Sex of the patient | Categorical (M: male, F: female) |
| 3 | ChestPainType | chest pain type | Categorical [TA: Typical Angina, ATA: Atypical Angina, NAP: Non-Anginal Pain, ASY: Asymptomatic] |
| 4 | RestingBP | Resting blood pressure | Numeric (int) |
| 5 | Cholesterol | Serum cholesterol | Numeric (int) |
| 6 | FastingBS | Fasting blood sugar (aÃ§ucar no sangue em jejum) | Binary (1: if FastingBS > 120 mg/dl, 0: otherwise) |
| 7 | RestingECG | Resting electrocardiogram results | Categorical (Normal: Normal, ST: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV), LVH: showing probable or definite left ventricular hypertrophy by Estes' criteria) |
| 8 | MaxHR | Maximum heart rate achieved | Numeric (int) |
| 9 | ExerciseAngina | Exercise-induced angina | Categorical (Y: Yes, N: No) |
| 10 | Oldpeak | Oldpeak | Numeric (float) |
| 11 | ST_Slope | The slope of the peak exercise ST segment | Categorical (Up: upsloping, Flat: flat, Down: downsloping) |
| 12 | HeartDisease | Output class | 1: heart disease, 0: Normal |

In [10]:
import pandas as pd

BASE_PATH = '../heart.csv'
df = pd.read_csv(BASE_PATH)
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0